@use 'src/styles/vars'; 

.home-search {
  text-align: center;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.home-search__form {
  display: flex;
}

.home-search__input {
  background-color: vars.$color-light-gray;
  color: vars.$color-dark-gray;
  font-size: 1rem;
  width: 500px;
  padding: 1rem;
  border: none;
  border-radius: 30px 0 0 30px;
}

.home-search__button {
  background-color: vars.$color-light-gray;
  border: none;
  border-radius: 0 30px 30px 0;
  padding-right: 2rem;
}

.home-search__icon {
  color: vars.$color-white;
}
