@use 'src/styles/vars'; 

.home-search {
  text-align: center;
  margin-top: 2*vars.$gutter;
  margin-bottom: 5*vars.$gutter;
  display: flex;
  justify-content: center;
}

.home-search__form {
  display: flex;
  box-shadow: 3px 5px 10px 0px vars.$color-medium-gray;
  border-radius: 20px 20px 20px 20px;
}

.home-search__input {
  background-color: vars.$color-off-white;
  color: vars.$color-dark-gray;
  font-size: 1.5rem;
  width: 500px;
  padding: vars.$gutter;
  border: none;
  border-radius: 20px 0 0 20px;

  &::placeholder {
    color: vars.$color-dark-gray;
  }

  @media screen and (max-width: 767px) {
    width: 250px;
    
    &::placeholder {
      color: vars.$color-dark-gray;
      font-size: 1rem;
    }
  }

}

.home-search__button {
  background-color: vars.$color-off-white;
  color: vars.$color-dark-gray;
  border: none;
  border-radius: 0 20px 20px 0;
  padding-right: 2rem;
}

.home-search__icon {
  font-size: 1.5rem;
}
