@use 'src/styles/vars'; 

.userprofile-infos {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

  @media screen and (max-width: 424px) {
    flex-direction: column;
  }
}

.userprofile-infos__avatar {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: vars.$color-medium-gray;
  display: flex;
  justify-content: center;
  align-items: center;

  & > p {
    font-size: 3rem;
  }
}

.userprofile-infos__details {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}

.userprofile-infos__pseudo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.userprofile-infos__badges {
  margin-left: 3rem;
}
