@use 'src/styles/vars'; 

.userprofile-infos {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

  @media screen and (max-width: 424px) {
    flex-direction: column;
  }
  &__username {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    & > p {
    font-size: 3rem;
    }
  }
  &__details {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
  }
  &__badges {
    display: flex;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }  
}

.badge-container {
  width: 150px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  margin: 0.5em;
  border-radius: 10px;
  box-shadow: 3px 5px 10px 0px vars.$color-medium-gray;
}

.badge-container p {
  font-size: 80%;
  font-weight: 600;
  letter-spacing: 0.3px;
  padding: 0.5em;
}

.badge-container strong {
  font-weight: 600;
}

.badge-image {
  width: 30px;
  margin-right: 1em;
}

.badge-wrapper {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 0.5em;

}

.logout-icon {
  font-size: 2.5em;
  color: vars.$color-purple;
  cursor: pointer;
}

.logout-container {
  display: flex;
}
