@use 'src/styles/vars'; 

.userprofile-infos {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

  @media screen and (max-width: 424px) {
    flex-direction: column;
  }
}

.userprofile-infos__avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  & > p {
    font-size: 3rem;
  }
}

.userprofile-infos__details {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}

.userprofile-infos__pseudo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.userprofile-infos__badges {
  margin-left: 3rem;
}

.logout-icon {
  font-size: 2.5em;
  color: vars.$color-purple;
}

.logout-container {
  display: flex;
  align-items: center;
}
.userprofile-infos__wrapper {
  display: flex;
  justify-content: space-between;
}
