@use 'src/styles/vars'; 

.results-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: vars.$gutter * 2;

  @media screen and (max-width: 766px) {
    margin: vars.$gutter * 2 0;
  }
}

.results_none {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.book-card {
  background-color: vars.$color-off-white;
  width: 300px;
  height: 400px;
  margin: vars.$gutter;
  padding: vars.$gutter;
  border-radius: 20px;
  box-shadow: 4px 5px 4px 2px rgba(176, 176, 176, 0.4);
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__title {
    font-weight: bold;
    margin-bottom: vars.$gutter;
  }
  &__author {
    margin-bottom: vars.$gutter;
  }
  &__image {
    margin: auto;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__link {
    background-color: vars.$color-orange;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: vars.$gutter;
    box-shadow: 3px 5px 10px 0px vars.$color-medium-gray;
  }
  &__link:hover {
    transform: scale(1.1);
    background-color: vars.$color-purple;
  }
}