@use 'src/styles/vars'; 

.menu {
  position: fixed;
  width: 10%;
  left: 0px;
  top: 15px;
  bottom: 15px;
  background-color: vars.$color-purple;
  padding: 2*vars.$gutter 0;
  color: white;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;

    &--open {
      width: 50%;
      display: flex;
    }
  }
}  

.cross {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
}

.menu__logo {
  @media screen and (max-width: 767px) {
    margin-bottom: 2rem;
  }
}

.menu__logo__glan {
  display: block;
  margin: 0 auto;
}

.menu__logo__title {
  font-family: 'Fredoka One', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.menu__logo__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu__logo__user {
  font-size: 2.5rem;

  &:hover {
    transform: scale(1.2);
  }
}

.menu__burger {
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
  display: block;

  &--disabled {
    display: none;
  }
}

.menu__burger__logo {
  width: 100%;
  height: 4px;
  border-radius: 20px;
  background-color: white;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.menu__burger__logo::before, .menu__burger__logo::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 20px;
}

.menu__burger__logo::before {
  transform: translateY(-10px);

  &--open {
    transform: translateY(0px) rotateZ(45deg);
  }
}

.menu__burger__logo::after {
  transform: translateY(10px);
  
  &--open {
    transform: translateY(0px) rotateZ(-45deg);
  }
}
