@use 'src/styles/vars'; 

.home-news {
  padding: 2rem;
  background-color: vars.$color-off-white;
  width: 60%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 3px 5px 10px 0px vars.$color-medium-gray;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
    width: 80%;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__underline {
    margin: auto;
    display: block;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 40%;
    }
  }
}

.home-bookselection {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.home-bookselection__book {
  width: 150px;
  height: auto;
  margin-bottom: 1rem;
}
 .home-bookselection__book:hover {
  transform: scale(1.1);
 }