@use 'src/styles/vars'; 

.book-page {
  background-color: vars.$color-off-white;
  border-radius: 10px;
  padding: vars.$gutter * 2;
  margin: 8rem vars.$gutter vars.$gutter vars.$gutter;

  &__presentation {
    display:flex;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
  }
  &__info {
    margin: 1.2em 2em;
    width: 50%;
    @media screen and (max-width: 767px) {
      margin: 1.2em 0;
    }
  }
  &__title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: vars.$gutter;
  }
  &__author {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: vars.$gutter;
  }
  &__text {
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: vars.$gutter;
    display: inline-block;
    margin-right: vars.$gutter;
  }
  &__synopsis {
    background-color: #fff;
    min-height: 20vh;
    max-height: 40vh;
    overflow: auto;
    border-radius: 20px;
  }
  &__synopsis-title {
    font-size: 1.5em;
    font-weight: 600;
    margin: vars.$gutter * 1.5;
  }
  &__synopsis-text {
    font-size: 1.2em;
    font-weight: normal;
    margin: vars.$gutter * 1.5;
  }
  &__notes {
    margin-bottom: vars.$gutter * 2;
    display: flex;
    flex-direction: column;
  }
  &__container-stars {
    margin: vars.$gutter 0;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__stars {
    font-size: 1.5em;
    color: vars.$color-dark-gray;
  }
  &__rating__button {
    background-color: vars.$color-white;
    color: vars.$color-dark-gray;
    font-size: 1rem;
    height: 60px;
    padding: vars.$gutter;
    border: none;
    border-radius: 20px 20px 20px 20px;
  }
  &__rating__button:hover {
    transform: scale(1.1);
  }
  &__rating-modal {
    display: flex;
    align-items: center;
  }
  &__comment__button {
    background-color: vars.$color-white;
    color: vars.$color-dark-gray;
    font-size: 1rem;
    height: 60px;
    padding: vars.$gutter;
    border: none;
    border-radius: 20px 20px 20px 20px;
    @media screen and (min-width: 767px) {
      max-width: 150px;
    }
  }
  &__comment__button:hover {
    transform: scale(1.1);
  }
  &__comments-header {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 767px) {
      align-items: center;
    }
  }
  &__comments-title {
    font-size: 1.5em;
    font-weight: 600;
    margin: vars.$gutter * 1.5;
    text-align: left;
  }
  &__comments-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 3rem;
    justify-content: space-evenly;
    margin-top: vars.$gutter;
    padding-bottom: vars.$gutter;
    overflow: auto;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__comment {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    overflow: hidden;
    padding: 1em;
    box-shadow: 3px 5px 10px 0px vars.$color-medium-gray;
    margin-bottom: 1em;
    
    @media screen and (max-width: 767px) {
      width: 90%;
    }
  }
  &__comment-infos {
    display: flex;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
  }
  &__button {
    width: 150px;
    background-color: vars.$color-orange;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 0 vars.$gutter 1rem;
    box-shadow: 3px 5px 10px 0px vars.$color-medium-gray;
    @media screen and (max-width: 767px) {
      margin: 0 0 1rem 0;
    }
  }
  &__button:hover {
    transform: scale(1.1);
    background-color: vars.$color-purple;
  }
  &__outButton {
    color: vars.$color-purple;
    font-size: 2em;
    margin-left: vars.$gutter;

    @media screen and (max-width: 767px) {
      position: fixed;
      top: calc(8rem + 30px);
      right: 30px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
  &__comment-user {
    margin-left: 1rem;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.8em;
  }
  &__comment-icon {
    color: vars.$color-purple;
    font-size: 1.5em;
  }
  &__comment-date {
    font-size: 70%;
    margin-bottom: 1em;
  }
  &__comment-text {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
  }
  &__comment-modal {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 767px) {
      align-items: center;
    }
  }
  &__comment-modal-btn {
    display: block;
    margin-top: 2rem;
    max-width: 150px;
    background: vars.$color-orange;
    color: white;
    text-align: center;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  &__comment-modal-input {
    background-color: vars.$color-white;
    color: vars.$color-dark-gray;
    font-size: 1rem;
    font-family: sans-serif;
    width: 80%;
    padding: vars.$gutter;
    border: none;
    border-radius: 20px 20px 20px 20px;
  }

  
}

.toast-color {
  background-color: vars.$color-orange;
  width: 600px;
  font-size: 1.6em;
  padding: 1em;
  border-radius: 20px;
}
