@use 'src/styles/vars'; 

.home-header {
  margin-top: 8rem;
  text-align: center;
}

.home-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-header__title {
  font-family: 'Fredoka One', sans-serif;
  font-size: 7rem;
  color: vars.$color-medium-black;
}

.home-header__baseline {
  font-size: 2rem;
}

.home-header__slogan {
  margin: 2 * vars.$gutter;
}
