@use 'src/styles/vars';


.field__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;

}

.field__label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}
