@use 'src/styles/vars';

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1em;
}
.right a {
  text-decoration: none;
  color: vars.$color-orange;
}

.right a:hover {
  text-decoration: underline;
 
}
.copy {
  color: black;
  text-align: center;
  margin-bottom: 2rem;
}

.right .copy p {
  margin: 1.5em 0;
}

.login__title {
  font-size: 1.7rem;
}

.login__form {
  padding: 6rem 3rem 5rem 3rem;
  margin: 1rem;
  align-items: center;
}

.login__submit {
  display: block;
  margin: auto;
  margin-top: 4rem;
  width: 80%;
  background: vars.$color-orange;
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

