$color-purple: #6556a6;
$color-green: #3a897a;
$color-orange: #fb9e44;

$color-medium-black: #494848;
$color-dark-gray: #a19f9f;
$color-medium-gray: #c4c4c4;
$color-light-gray: #e5e5e5;

$color-white: #fff;
$color-off-white: #f3f3f3;

$gutter: 1em;
